.item {
  display: grid;
  grid-template-columns: 90px 70px 80px 1fr 80px 80px 60px;
  padding: 8px 16px;
  border-bottom: 1px solid var(--border);
  font-size: 12px;
  align-items: center;
}

.item:last-child {
  border-bottom: none;
}
